﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="knowMore.aspx.cs" Inherits="FirstStyle.knowMore" %>

<asp:Content ID="Content2" ContentPlaceHolderID="LeftSideOne" runat="server">
    <h2><%: Title %></h2>


     <div class="jumbotron">
         <div class="row">
    <h3>Education</h3>
    <ul>
        <li>Completed Grade 10th with 81% from Umrigar School, india</li>
        <li>Completed Grade 12th with 72% from Umrigar School, india</li>
        <li>Completed Grade 12th with graduation with Distinction from CB PATEL College, india</li>
    </ul>
             </div>
         </div>
</asp:Content>
<asp:Content ID="RightIDone" ContentPlaceHolderID="RightBarOne" runat="server">
    <div class="jumbotron">
    <h3>Experience</h3>
    <ul>
        <li>I have Work on Two minor Project during my graduation for my college </li>
        <li>One Major Project as a final year project of my college</li>
    </ul>
</div>
</asp:Content>


