﻿body {
    background-image:url(/images/bg.jpg);
    background-attachment:fixed;
    background-repeat:no-repeat;
}
#header {
    height: 140px;
    width: 100%;
    background-image: url(/images/computer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



#nav-header {
   list-style-type:none;
}
#nav-header li{
  float:left;
  margin:10px;
}
    #nav-header a{
      padding:5px;
      font-size:20px;
      text-decoration: none;
      color:black;
      display:inline-block;
      background-color:aliceblue;
      border-radius:9px;
    }
    #nav-header a:hover {
        text-decoration: none;
        color: gray;
        }
#nav-header-two {
    list-style-type: none;
}

    #nav-header-two li {
        float: right;
        margin: 10px;
    }

    #nav-header-two a {
        padding: 5px;
        font-size: 20px;
        text-decoration: none;
        color: black;
        display: inline-block;
        background-color: aliceblue;
        border-radius: 9px;
    }

    #nav-header-two {
    text-decoration: none;
    color: gray;
}
..col-md-6 col-xm-12 p {
    font-size:2px;
}


img {
    height: 30px;
    width: 100%;
}

#footer {
    color:white;
}